#Python virtual environment
venv/

#Python cache
pycache/
*.pyc

# Dataset
data/

#Log files
*.log

#IDE and OS files
.vscode/
.DS_Store

#Large model file - to be handled by Git LFS
brain_tumor_model.h5

